<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: Ship Your Idea</title>
	<atom:link href="http://kiddy.creaws.com/shop/ship-your-idea/feed/" rel="self" type="application/rss+xml" />
	<link>http://kiddy.creaws.com/shop/ship-your-idea/</link>
	<description>Children WordPress Theme</description>
	<lastBuildDate>Fri, 17 Nov 2017 09:06:09 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.7.11</generator>
	<item>
		<title>By: Stuart</title>
		<link>http://kiddy.creaws.com/shop/ship-your-idea/#comment-15</link>
		<dc:creator><![CDATA[Stuart]]></dc:creator>
		<pubDate>Fri, 07 Jun 2013 13:02:14 +0000</pubDate>
		<guid isPermaLink="false">http://demo2.woothemes.com/woocommerce/?post_type=product&#038;p=22#comment-15</guid>
		<description><![CDATA[Great T-shirt quality, Great Design and Great Service.]]></description>
		<content:encoded><![CDATA[<p>Great T-shirt quality, Great Design and Great Service.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Cobus Bester</title>
		<link>http://kiddy.creaws.com/shop/ship-your-idea/#comment-14</link>
		<dc:creator><![CDATA[Cobus Bester]]></dc:creator>
		<pubDate>Fri, 07 Jun 2013 11:55:15 +0000</pubDate>
		<guid isPermaLink="false">http://demo2.woothemes.com/woocommerce/?post_type=product&#038;p=22#comment-14</guid>
		<description><![CDATA[Very comfortable shirt, and I love the graphic!]]></description>
		<content:encoded><![CDATA[<p>Very comfortable shirt, and I love the graphic!</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: James Koster</title>
		<link>http://kiddy.creaws.com/shop/ship-your-idea/#comment-13</link>
		<dc:creator><![CDATA[James Koster]]></dc:creator>
		<pubDate>Fri, 07 Jun 2013 11:43:13 +0000</pubDate>
		<guid isPermaLink="false">http://demo2.woothemes.com/woocommerce/?post_type=product&#038;p=22#comment-13</guid>
		<description><![CDATA[Nice T-shirt, I got one in black. Goes with anything!]]></description>
		<content:encoded><![CDATA[<p>Nice T-shirt, I got one in black. Goes with anything!</p>
]]></content:encoded>
	</item>
</channel>
</rss>

<!--
Performance optimized by W3 Total Cache. Learn more: https://www.w3-edge.com/products/

Page Caching using disk: enhanced (Page is feed) 

Served from: kiddy.creaws.com @ 2018-07-09 15:22:28 by W3 Total Cache
-->