<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: Flying Ninja</title>
	<atom:link href="http://kiddy.creaws.com/shop/flying-ninja/feed/?lang=fr" rel="self" type="application/rss+xml" />
	<link>http://kiddy.creaws.com/shop/flying-ninja/?lang=fr</link>
	<description>Children WordPress Theme</description>
	<lastBuildDate>Fri, 17 Nov 2017 09:06:09 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.7.11</generator>
	<item>
		<title>By: Stuart</title>
		<link>http://kiddy.creaws.com/shop/flying-ninja/?lang=fr#comment-6</link>
		<dc:creator><![CDATA[Stuart]]></dc:creator>
		<pubDate>Fri, 07 Jun 2013 12:59:49 +0000</pubDate>
		<guid isPermaLink="false">http://demo2.woothemes.com/woocommerce/?post_type=product&#038;p=70#comment-6</guid>
		<description><![CDATA[This is a fantastic quality print and is happily hanging framed on my wall now.]]></description>
		<content:encoded><![CDATA[<p>This is a fantastic quality print and is happily hanging framed on my wall now.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Coen Jacobs</title>
		<link>http://kiddy.creaws.com/shop/flying-ninja/?lang=fr#comment-5</link>
		<dc:creator><![CDATA[Coen Jacobs]]></dc:creator>
		<pubDate>Fri, 07 Jun 2013 12:19:25 +0000</pubDate>
		<guid isPermaLink="false">http://demo2.woothemes.com/woocommerce/?post_type=product&#038;p=70#comment-5</guid>
		<description><![CDATA[This is my favorite poster. In fact, I&#039;ve ordered 5 of them!]]></description>
		<content:encoded><![CDATA[<p>This is my favorite poster. In fact, I&#8217;ve ordered 5 of them!</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Andrew</title>
		<link>http://kiddy.creaws.com/shop/flying-ninja/?lang=fr#comment-4</link>
		<dc:creator><![CDATA[Andrew]]></dc:creator>
		<pubDate>Fri, 07 Jun 2013 11:56:36 +0000</pubDate>
		<guid isPermaLink="false">http://demo2.woothemes.com/woocommerce/?post_type=product&#038;p=70#comment-4</guid>
		<description><![CDATA[You only get the picture, not the person holding it, something they don&#039;t mention in the description, now I&#039;ve got to find my own person]]></description>
		<content:encoded><![CDATA[<p>You only get the picture, not the person holding it, something they don&#8217;t mention in the description, now I&#8217;ve got to find my own person</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Cobus Bester</title>
		<link>http://kiddy.creaws.com/shop/flying-ninja/?lang=fr#comment-3</link>
		<dc:creator><![CDATA[Cobus Bester]]></dc:creator>
		<pubDate>Fri, 07 Jun 2013 11:52:25 +0000</pubDate>
		<guid isPermaLink="false">http://demo2.woothemes.com/woocommerce/?post_type=product&#038;p=70#comment-3</guid>
		<description><![CDATA[Really happy with this print. The colors are great, and the paper quality is good too.]]></description>
		<content:encoded><![CDATA[<p>Really happy with this print. The colors are great, and the paper quality is good too.</p>
]]></content:encoded>
	</item>
</channel>
</rss>

<!--
Performance optimized by W3 Total Cache. Learn more: https://www.w3-edge.com/products/

Page Caching using disk: enhanced (Requested URI contains query) 

Served from: kiddy.creaws.com @ 2018-07-09 15:36:32 by W3 Total Cache
-->