title = "Auto evaluation"
url = "/auto-evaluation"
layout = "EMC-2"
description = "Atelier d'auto-évaluation"
is_hidden = 0
==
<?php
use ParIci\EMC\Models\Mot;

public function onStart()
{
   $this["mots"] =  Mot::all()->lists('nom');//Mot::all()->list();//["coucou","coco"]; 
   $this["key"] =  array_rand($this["mots"]);    
   $this["motSelected"] = Mot::where("nom",$this["mots"][$this["key"]])->get()->first(); 
   if(Request::input('nouveaumot'))
   {
       $this["nouveaumot"] = "oui";
   }
}

public function onNouveauMot()
{
    //\Flash::success("super");
    return Redirect::to("auto-evaluation?nouveaumot=1");
}

public function onLireMot()
{
    \Flash::success("je lis le mot");
}
?>
==
{{mots[key]}}<br>
{{motSelected}}<br>
{{motSelected.cycles}}<br><!---->
<script>
{%if nouveaumot%}
setTimeout(function(){onPlay();},1000)
{%endif%}
function onPlay()
{
    $("#player").show();
    var audio = new Audio('{{motSelected.audio.path}}');
    audio.play();
}
</script>
<div id="player" class="cws_msg_box info-box clearfix closable" style="display:none;background-color:#4bb723"><div class="icon_section"><a data-request="onLireMot" data-request-success="onPlay()" data-request-flash href="#"><i style="cursor:pointer" onclick="onPlay" class="fa fa-play" style="color:#4bb723"></i></a></div><div class="content_section"><div class="msg_box_title">Closable box</div><div class="msg_box_text">Vestibulum sodales pellentesque nibh quis imperdie</div></div><div class="cls_btn"></div></div>

<br>
<div class="grid_row clearfix" style="padding-bottom:0!important">
   <div class="grid_col grid_col_12">
      <div class="ce clearfix">
         <h3 class="ce_title">
            <div>Auto-évalutaion - Mot aléatoire</div>
         </h3>
         <div>
         </div>
      </div>
   </div>
</div>   
<div class="grid_row clearfix" style="padding-top:0!important;padding-bottom:0!important">
   <div class="grid_col grid_col_3">
      <div class="ce clearfix">
         <div>
            <p>
                  
                <a href="../wp-content/uploads/2015/08/portfolio_6.jpg" class="cws_img_frame wp-image-popup alignleft" title="" style="width: 172px;"><img class="size-medium wp-image-3769 alignleft" src="../wp-content/uploads/2015/08/portfolio_6-300x300.jpg" alt="portfolio_6" width="150" height="150" srcset="http://kiddy.creaws.com/wp-content/uploads/2015/08/portfolio_6-300x300.jpg 300w, http://kiddy.creaws.com/wp-content/uploads/2015/08/portfolio_6-150x150.jpg 150w, http://kiddy.creaws.com/wp-content/uploads/2015/08/portfolio_6-1024x1024.jpg 1024w, http://kiddy.creaws.com/wp-content/uploads/2015/08/portfolio_6-100x100.jpg 100w, http://kiddy.creaws.com/wp-content/uploads/2015/08/portfolio_6-230x230.jpg 230w, http://kiddy.creaws.com/wp-content/uploads/2015/08/portfolio_6-180x180.jpg 180w, http://kiddy.creaws.com/wp-content/uploads/2015/08/portfolio_6-270x270.jpg 270w, http://kiddy.creaws.com/wp-content/uploads/2015/08/portfolio_6-600x600.jpg 600w, http://kiddy.creaws.com/wp-content/uploads/2015/08/portfolio_6.jpg 1000w" sizes="(max-width: 150px) 100vw, 150px"></a>
                
            </p>
            
        </div>    
      </div>
      
   </div>
   
   <div class="grid_col grid_col_9 item">
     <textarea></textarea>
     <center>
     <br>
    <div style="max-width:150px">
    
        <div class="date">
    		<div class="date-cont">
    		    <span class="day">1</span>
    		    <span class="year">3</span>
    		    <i class="springs"></i>
    		</div>    		
        </div><br>
    		# d'essais restant
    </div>
    </center>
   </div>
</div>
<div class="grid_row clearfix"  style="padding-top:0!important">
   <div class="grid_col grid_col_12">
      <div class="ce clearfix">
      <div class="ce clearfix">
      
      <div class="ce clearfix">
          <a data-request="onNouveauMot" data-request-flash href="#" class="cws_button alt xlarge"><span class="cws_button_inner" data-bg_hover_color="" data-bg_color="" data-text_color="">Nouveau Mot</span></a>
          {%if nouveaumot%}
          <a data-request="onLireMot" data-request-success="onPlay()" data-request-flash href="#" class="cws_button alt xlarge"><span class="cws_button_inner" data-bg_hover_color="" data-bg_color="" data-text_color="">Répeter le mot</span></a>
          
          <a href="#" class="cws_button alt xlarge"><span class="cws_button_inner" data-bg_hover_color="" data-bg_color="" data-text_color="">Vérifier</span></a>
          {%endif%}
      </div>
      
      
         <div class="cws_callout">
            <div class="content_section">
               <div class="callout_title">
                  <div class="bees bees-end"><span></span></div>
                  Curabitur ultricies est vel mollis lobortis. Suspendisse potenti.
               </div>
               <div class="separate"></div>
               <div class="callout_text">
                  <p id="yui_3_18_1_1_1442493473998_1372">Pellentesque suscipit posuere varius. Integer volutpat egestas hendrerit. Sed vitae ante non sem tincidunt posuere at rutrum felis nulla facilisi. Nunc rutrum libero vel fringilla convallis.</p>
               </div>
            </div>
            <div class="button_section">
               <a href="#" class="cws_button xlarge">
                  Join us
                  <div class="button-shadow"></div>
               </a>
            </div>
         </div>
      </div>
         <div>
         </div>
      </div>
   </div>
</div>