<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: Woo Single #2</title>
	<atom:link href="http://kiddy.creaws.com/shop/woo-single-2/feed/?lang=de" rel="self" type="application/rss+xml" />
	<link>http://kiddy.creaws.com/shop/woo-single-2/?lang=de</link>
	<description>Children WordPress Theme</description>
	<lastBuildDate>Fri, 17 Nov 2017 09:06:09 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.7.11</generator>
	<item>
		<title>By: Maria</title>
		<link>http://kiddy.creaws.com/shop/woo-single-2/?lang=de#comment-42</link>
		<dc:creator><![CDATA[Maria]]></dc:creator>
		<pubDate>Fri, 07 Jun 2013 15:52:48 +0000</pubDate>
		<guid isPermaLink="false">http://demo2.woothemes.com/woocommerce/?post_type=product&#038;p=99#comment-42</guid>
		<description><![CDATA[Can’t wait to start mixin’ with this one! Irba-irr-Up-up-up-up-date your theme!]]></description>
		<content:encoded><![CDATA[<p>Can’t wait to start mixin’ with this one! Irba-irr-Up-up-up-up-date your theme!</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Cobus Bester</title>
		<link>http://kiddy.creaws.com/shop/woo-single-2/?lang=de#comment-41</link>
		<dc:creator><![CDATA[Cobus Bester]]></dc:creator>
		<pubDate>Fri, 07 Jun 2013 11:58:43 +0000</pubDate>
		<guid isPermaLink="false">http://demo2.woothemes.com/woocommerce/?post_type=product&#038;p=99#comment-41</guid>
		<description><![CDATA[This album proves why The Woo are the best band ever. Best music ever!]]></description>
		<content:encoded><![CDATA[<p>This album proves why The Woo are the best band ever. Best music ever!</p>
]]></content:encoded>
	</item>
</channel>
</rss>

<!--
Performance optimized by W3 Total Cache. Learn more: https://www.w3-edge.com/products/

Page Caching using disk: enhanced (Requested URI contains query) 

Served from: kiddy.creaws.com @ 2018-07-09 15:42:10 by W3 Total Cache
-->