<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: Ship Your Idea</title>
	<atom:link href="http://kiddy.creaws.com/shop/ship-your-idea-2/feed/" rel="self" type="application/rss+xml" />
	<link>http://kiddy.creaws.com/shop/ship-your-idea-2/</link>
	<description>Children WordPress Theme</description>
	<lastBuildDate>Fri, 17 Nov 2017 09:06:09 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.7.11</generator>
	<item>
		<title>By: Maria</title>
		<link>http://kiddy.creaws.com/shop/ship-your-idea-2/#comment-20</link>
		<dc:creator><![CDATA[Maria]]></dc:creator>
		<pubDate>Fri, 07 Jun 2013 15:53:31 +0000</pubDate>
		<guid isPermaLink="false">http://demo2.woothemes.com/woocommerce/?post_type=product&#038;p=40#comment-20</guid>
		<description><![CDATA[Ship it!]]></description>
		<content:encoded><![CDATA[<p>Ship it!</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Ryan</title>
		<link>http://kiddy.creaws.com/shop/ship-your-idea-2/#comment-19</link>
		<dc:creator><![CDATA[Ryan]]></dc:creator>
		<pubDate>Fri, 07 Jun 2013 13:24:52 +0000</pubDate>
		<guid isPermaLink="false">http://demo2.woothemes.com/woocommerce/?post_type=product&#038;p=40#comment-19</guid>
		<description><![CDATA[This hoodie gets me lots of looks while out in public, I got the blue one and it&#039;s awesome. Not sure if people are looking at my hoodie only, or also at my rocking bod.]]></description>
		<content:encoded><![CDATA[<p>This hoodie gets me lots of looks while out in public, I got the blue one and it&#8217;s awesome. Not sure if people are looking at my hoodie only, or also at my rocking bod.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Stuart</title>
		<link>http://kiddy.creaws.com/shop/ship-your-idea-2/#comment-18</link>
		<dc:creator><![CDATA[Stuart]]></dc:creator>
		<pubDate>Fri, 07 Jun 2013 13:03:29 +0000</pubDate>
		<guid isPermaLink="false">http://demo2.woothemes.com/woocommerce/?post_type=product&#038;p=40#comment-18</guid>
		<description><![CDATA[Another great quality product that anyone who see&#039;s me wearing has asked where to purchase one of their own.]]></description>
		<content:encoded><![CDATA[<p>Another great quality product that anyone who see&#8217;s me wearing has asked where to purchase one of their own.</p>
]]></content:encoded>
	</item>
</channel>
</rss>

<!--
Performance optimized by W3 Total Cache. Learn more: https://www.w3-edge.com/products/

Page Caching using disk: enhanced (Page is feed) 

Served from: kiddy.creaws.com @ 2018-07-09 15:20:07 by W3 Total Cache
-->