<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: Happy Ninja</title>
	<atom:link href="http://kiddy.creaws.com/shop/happy-ninja-2/feed/" rel="self" type="application/rss+xml" />
	<link>http://kiddy.creaws.com/shop/happy-ninja-2/</link>
	<description>Children WordPress Theme</description>
	<lastBuildDate>Fri, 17 Nov 2017 09:06:09 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.7.11</generator>
	<item>
		<title>By: Maria</title>
		<link>http://kiddy.creaws.com/shop/happy-ninja-2/#comment-27</link>
		<dc:creator><![CDATA[Maria]]></dc:creator>
		<pubDate>Fri, 07 Jun 2013 15:50:22 +0000</pubDate>
		<guid isPermaLink="false">http://demo2.woothemes.com/woocommerce/?post_type=product&#038;p=53#comment-27</guid>
		<description><![CDATA[I love grey hoodies! This is perfect with my grey Ninja shirt, when I get cold I throw this on and I can still be a Ninja.]]></description>
		<content:encoded><![CDATA[<p>I love grey hoodies! This is perfect with my grey Ninja shirt, when I get cold I throw this on and I can still be a Ninja.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Andrew</title>
		<link>http://kiddy.creaws.com/shop/happy-ninja-2/#comment-26</link>
		<dc:creator><![CDATA[Andrew]]></dc:creator>
		<pubDate>Fri, 07 Jun 2013 11:54:51 +0000</pubDate>
		<guid isPermaLink="false">http://demo2.woothemes.com/woocommerce/?post_type=product&#038;p=53#comment-26</guid>
		<description><![CDATA[I bought this thinking it was a nice green colour, apparently it GREY! I&#039;m colour blind so I don&#039;t care but my girlfriend says grey makes me look fat]]></description>
		<content:encoded><![CDATA[<p>I bought this thinking it was a nice green colour, apparently it GREY! I&#8217;m colour blind so I don&#8217;t care but my girlfriend says grey makes me look fat</p>
]]></content:encoded>
	</item>
</channel>
</rss>

<!--
Performance optimized by W3 Total Cache. Learn more: https://www.w3-edge.com/products/

Page Caching using disk: enhanced (Page is feed) 

Served from: kiddy.creaws.com @ 2018-07-09 15:20:36 by W3 Total Cache
-->