<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: Patient Ninja</title>
	<atom:link href="http://kiddy.creaws.com/shop/patient-ninja/feed/?lang=de" rel="self" type="application/rss+xml" />
	<link>http://kiddy.creaws.com/shop/patient-ninja/?lang=de</link>
	<description>Children WordPress Theme</description>
	<lastBuildDate>Fri, 17 Nov 2017 09:06:09 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.7.11</generator>
	<item>
		<title>By: Magnus</title>
		<link>http://kiddy.creaws.com/shop/patient-ninja/?lang=de#comment-25</link>
		<dc:creator><![CDATA[Magnus]]></dc:creator>
		<pubDate>Fri, 07 Jun 2013 12:04:03 +0000</pubDate>
		<guid isPermaLink="false">http://demo2.woothemes.com/woocommerce/?post_type=product&#038;p=50#comment-25</guid>
		<description><![CDATA[This is my favorite hoodie!

If only it came in red as well!]]></description>
		<content:encoded><![CDATA[<p>This is my favorite hoodie!</p>
<p>If only it came in red as well!</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Cobus Bester</title>
		<link>http://kiddy.creaws.com/shop/patient-ninja/?lang=de#comment-24</link>
		<dc:creator><![CDATA[Cobus Bester]]></dc:creator>
		<pubDate>Fri, 07 Jun 2013 11:53:13 +0000</pubDate>
		<guid isPermaLink="false">http://demo2.woothemes.com/woocommerce/?post_type=product&#038;p=50#comment-24</guid>
		<description><![CDATA[The most comfortable hoodie I have ever owned!]]></description>
		<content:encoded><![CDATA[<p>The most comfortable hoodie I have ever owned!</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: James Koster</title>
		<link>http://kiddy.creaws.com/shop/patient-ninja/?lang=de#comment-23</link>
		<dc:creator><![CDATA[James Koster]]></dc:creator>
		<pubDate>Fri, 07 Jun 2013 11:46:52 +0000</pubDate>
		<guid isPermaLink="false">http://demo2.woothemes.com/woocommerce/?post_type=product&#038;p=50#comment-23</guid>
		<description><![CDATA[Perfect when you&#039;re sat at your computer, waiting for the next batch of Woo Goodies to be released. The Patient Ninja is Patient.]]></description>
		<content:encoded><![CDATA[<p>Perfect when you&#8217;re sat at your computer, waiting for the next batch of Woo Goodies to be released. The Patient Ninja is Patient.</p>
]]></content:encoded>
	</item>
</channel>
</rss>

<!--
Performance optimized by W3 Total Cache. Learn more: https://www.w3-edge.com/products/

Page Caching using disk: enhanced (Requested URI contains query) 

Served from: kiddy.creaws.com @ 2018-07-09 15:41:22 by W3 Total Cache
-->