<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: Woo Ninja</title>
	<atom:link href="http://kiddy.creaws.com/shop/woo-ninja-2/feed/?lang=fr" rel="self" type="application/rss+xml" />
	<link>http://kiddy.creaws.com/shop/woo-ninja-2/?lang=fr</link>
	<description>Children WordPress Theme</description>
	<lastBuildDate>Fri, 17 Nov 2017 09:06:09 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.7.11</generator>
	<item>
		<title>By: Maria</title>
		<link>http://kiddy.creaws.com/shop/woo-ninja-2/?lang=fr#comment-22</link>
		<dc:creator><![CDATA[Maria]]></dc:creator>
		<pubDate>Fri, 07 Jun 2013 15:53:13 +0000</pubDate>
		<guid isPermaLink="false">http://demo2.woothemes.com/woocommerce/?post_type=product&#038;p=47#comment-22</guid>
		<description><![CDATA[Perfect for the lady Ninja in your life!]]></description>
		<content:encoded><![CDATA[<p>Perfect for the lady Ninja in your life!</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Cobus Bester</title>
		<link>http://kiddy.creaws.com/shop/woo-ninja-2/?lang=fr#comment-21</link>
		<dc:creator><![CDATA[Cobus Bester]]></dc:creator>
		<pubDate>Fri, 07 Jun 2013 11:57:59 +0000</pubDate>
		<guid isPermaLink="false">http://demo2.woothemes.com/woocommerce/?post_type=product&#038;p=47#comment-21</guid>
		<description><![CDATA[This hoodie is great for those chilly winter days. I love the WooNinja!]]></description>
		<content:encoded><![CDATA[<p>This hoodie is great for those chilly winter days. I love the WooNinja!</p>
]]></content:encoded>
	</item>
</channel>
</rss>

<!--
Performance optimized by W3 Total Cache. Learn more: https://www.w3-edge.com/products/

Page Caching using disk: enhanced (Requested URI contains query) 

Served from: kiddy.creaws.com @ 2018-07-09 15:31:54 by W3 Total Cache
-->