<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: Woo Album #3</title>
	<atom:link href="http://kiddy.creaws.com/shop/woo-album-3/feed/?lang=fr" rel="self" type="application/rss+xml" />
	<link>http://kiddy.creaws.com/shop/woo-album-3/?lang=fr</link>
	<description>Children WordPress Theme</description>
	<lastBuildDate>Fri, 17 Nov 2017 09:06:09 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.7.11</generator>
	<item>
		<title>By: Coen Jacobs</title>
		<link>http://kiddy.creaws.com/shop/woo-album-3/?lang=fr#comment-38</link>
		<dc:creator><![CDATA[Coen Jacobs]]></dc:creator>
		<pubDate>Fri, 07 Jun 2013 12:22:07 +0000</pubDate>
		<guid isPermaLink="false">http://demo2.woothemes.com/woocommerce/?post_type=product&#038;p=90#comment-38</guid>
		<description><![CDATA[This album gets a bit boring after you&#039;ve listened to it more than once. Worth that first listen though.]]></description>
		<content:encoded><![CDATA[<p>This album gets a bit boring after you&#8217;ve listened to it more than once. Worth that first listen though.</p>
]]></content:encoded>
	</item>
</channel>
</rss>

<!--
Performance optimized by W3 Total Cache. Learn more: https://www.w3-edge.com/products/

Page Caching using disk: enhanced (Requested URI contains query) 

Served from: kiddy.creaws.com @ 2018-07-09 15:33:43 by W3 Total Cache
-->